body{
    background-size: 100% 100%;
    background-image: url(./img/poke-pixel.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Chakra Petch', sans-serif;
}

h1 {

    font-size: 3rem;
}

.logo {
    width: 4rem;
}

.logo2 {
    width: 2.4rem;
}

.input {
    width: 20%;
}

#radio-container {
    display: flex;
    justify-content: center;
    background-color: #424949;
    opacity: 0.9;
}

.radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    color: white;
    gap:0.5em
}


.index-h2 {
    color: white;
    text-align: center;
}

#cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    padding:2em;
}